html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fae8ea;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

body #wrapper {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  overflow-x: hidden;
}
.page .content {
  position: relative;
}
.page .btn-set {
  width: 100%;
  height: 111px;
  padding-left: 4%;
  position: relative;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  line-height: 0px;
}
.page .btn-set a {
  display: inline-block;
  float: left;
  height: 55px;
  display: block;
  text-align: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 19px;
}
.page .btn-set .back-btn {
  width: 44%;
  background-color: #90766D;
  background-image: url("/data/images/common/back_txt.png");
  background-size: 35px 17px;
}
.page .btn-set .ok-btn {
  margin-left: 4%;
  width: 44%;
  background-color: #e44e64;
  background-image: url("/data/images/common/ok_txt.png");
  background-size: 37px 17px;
}
.page .btn-set a.back-btn.press {
  background-color: #A18A83;
}
.page .btn-set a.ok-btn.press {
  background-color: #F3697B;
}
.page .btn-set .disabled {
  background-color: #f6ccd1;
  background-image: url("/data/images/common/ok_txt_disabled.png");
  pointer-events: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.page .btn-set-L {
  padding-left: 4%;
}
.page .btn-set-L .ok-btn {
  margin-left: 2.6666666667%;
  margin-top: 20px;
  width: 86.6666666667%;
}

#loading {
  position: relative;
}

#loading .loading-item {
  background-image: url("/data/images/common/loading.png");
  background-repeat: no-repeat;
  background-size: 136px 19px;
  width: 115px;
  height: 19px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -69px;
  display: none;
}

#step {
  display: none;
  height: 56px;
  margin-left: 11.4666666667%;
  margin-right: 11.4666666667%;
  padding-top: 2.4875621891%;
}
#step ul {
  text-align: justify;
  text-justify: distribute-all-lines;
  background-image: url("/data/images/common/brown_line.png");
  background-repeat: repeat-x;
  background-size: 4px 4px;
  background-position: center 16px;
}
#step ul:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: 0;
}
#step li {
  height: 56px;
  text-align: center;
  display: inline-block;
  line-height: 100px;
}
#step li span {
  display: block;
}
#step li .step1 {
  background-repeat: no-repeat;
  background-size: 60px 56px;
  width: 60px;
  height: 56px;
  margin-left: -30px;
}
#step li .step2 {
  background-repeat: no-repeat;
  background-size: 95px 56px;
  width: 95px;
  height: 56px;
}
#step li .step3 {
  background-repeat: no-repeat;
  background-size: 59px 56px;
  width: 59px;
  height: 56px;
  margin-right: -29.5px;
}
#step li.off .step1 {
  background-image: url("/data/images/leader/step1_off.png");
}
#step li.off .step2 {
  background-image: url("/data/images/leader/step2_off.png");
}
#step li.off .step3 {
  background-image: url("/data/images/leader/step3_off.png");
}
#step li.on .step1 {
  background-image: url("/data/images/leader/step1_on.png");
}
#step li.on .step2 {
  background-image: url("/data/images/leader/step2_on.png");
}
#step li.on .step3 {
  background-image: url("/data/images/leader/step3_on.png");
}

#page1 .title-box {
  position: relative;
}
#page1 .title {
  overflow: hidden;
  display: none;
  text-align: center;
  background-image: url("/data/images/common/title_line.png");
  background-repeat: repeat-x;
  background-size: 5px 3px;
  background-position: left bottom;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 6.4%;
  width: 87.2%;
}
#page1 .title h2 {
  text-indent: -9999px;
  position: absolute;
  display: block;
  background-image: url("/data/images/common/upload_title.png");
  background-repeat: no-repeat;
  background-size: 237px 24px;
  height: 24px;
  width: 237px;
  left: 50%;
  margin-left: -117px;
}
#page1 .title1-1 {
  height: 37px;
  margin-top: -158px;
}
#page1 .title1-1 h2 {
  background-image: url("/data/images/common/upload_title.png");
}
#page1 .title1-2 {
  height: 27px;
  position: relative;
  top: 0;
  margin-top: 93px;
}
#page1 .title1-2 h2 {
  background-image: url("/data/images/common/photoedit_title.png");
}
#page1 .cut {
  display: none;
  background-image: url("/data/images/common/upload_cut.png");
  background-repeat: no-repeat;
  background-size: 303px 191px;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 303px;
  height: 191px;
  margin-top: -69px;
  margin-left: -151px;
}
#page1 #form-box {
  display: none;
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 6.6334991708%;
  left: 0;
}
#page1 #form-box label {
  /*            width: percentage(650px / 750px);*/
  height: 55px;
  display: block;
}
#page1 #form-box .file-btn {
  margin-left: 6.6666666667%;
  width: 86.6666666667%;
  height: 55px;
  display: block;
  text-align: center;
  background-color: #f0495f;
  border-radius: 10px;
  background-image: url("/data/images/common/upload_btn_txt.png");
  background-repeat: no-repeat;
  background-size: 34px 16px;
  background-position: center center;
}
#page1 #form-box .press {
  background-color: #F3697B;
}
#page1 #image-box {
  position: relative;
  width: 92%;
  margin-left: 4%;
  margin-top: 20px;
  display: none;
  overflow: hidden;
}
#page1 #image-box .image-mask {
  width: 100%;
  height: 100%;
  position: relative;
}
#page1 #image-box .hit-area {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 12.3188405797%;
  width: 75.3623188406%;
}
#page1 #image-box #hit {
  background: #fff;
  opacity: .4;
}
#page1 #image-box #hit-border {
  left: -5px;
  border: solid 5px #e44e64;
  border-radius: 5px;
}
#page1 #image-box .controll {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 78.2608695652% 78.2608695652%;
  width: 75.3623188406%;
  height: 75.3623188406%;
}
#page1 #image-box #pinch {
  background-image: url("/data/images/common/pinch.png");
}
#page1 #image-box #cross-arrow {
  background-image: url("/data/images/common/cross_arrow.png");
}
#page1 #image-box #face-frame {
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/data/images/common/face_frame.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
#page1 #image-box #src_keeper {
  width: 100%;
}
#page1 .btn-set {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  padding-left: 4%;
  margin-top: 26px;
  background: none;
}
#page1 .btn-set a {
  margin-top: 19px;
}

#page2 .title {
  position: relative;
  overflow: visible;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 76px;
  margin-top: 93px;
}
#page2 .title h2 {
  text-indent: -9999px;
  position: absolute;
  background-image: url("/data/images/common/okma.png");
  background-repeat: no-repeat;
  background-size: 212px 76px;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 76px;
  z-index: 110;
}
#page2 #img {
  position: relative;
  width: 72%;
  margin-left: 14.1333333333%;
  margin-top: 5px;
  display: none;
  overflow: hidden;
  z-index: 100;
}
#page2 #img img {
  width: 98%;
  padding: 1%;
}
#page2 #img .border {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: solid 5px #e44e64;
  border-radius: 5px;
}
#page2 .wave {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 111px;
  margin-top: 8px;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  mask-image: url("/data/images/common/wave.png");
  -webkit-mask-image: url("/data/images/common/wave.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left top;
  -webkit-mask-position: center center;
  mask-size: 100% 40px;
  mask-image-size: 100% 40px;
  -webkit-mask-size: 100% 40px;
  line-height: 0px;
}
#page2 .btn-set {
  position: absolute;
  bottom: 0;
}
#page2 .cookie {
  z-index: 99;
  display: block;
  position: absolute;
}
#page2 .cookie-l {
  width: 51px;
  height: 100px;
  background-image: url("/data/images/common/cookie_l.png");
  background-size: 51px 100px;
  left: 0;
  top: 144px;
}
#page2 .cookie-r {
  width: 55px;
  height: 90px;
  background-image: url("/data/images/common/cookie_r.png");
  background-size: 55px 90px;
  right: 0;
  bottom: 18.9054726368%;
}

#player {
  display: none;
  width: 100%;
  background-color: #E59DA0;
}
#player .video {
  position: relative;
}
#player .loading-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 667px;
  /*
  left: 50%;
  top: 50%;
  margin-left: floor(-375px / 2);
  margin-top: floor(-603px / 2);
  */
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
}
#player .loading-box .loading-container {
  position: relative;
}
#player .loading-box .loading-container canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(0.7);
}
#player .loading-box .loading-container ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(0.7);
  width: 105px;
  margin-top: 160px;
}
#player .loading-box .loading-container ul li {
  position: relative;
  display: block;
  float: left;
  width: 24px;
  height: 29px;
}
#player .loading-box .loading-container ul li span {
  position: absolute;
  display: block;
  bottom: 0;
}
#player .loading-box .loading-container ul li .loaindg-num00 {
  top: 12px;
  left: 12px;
  width: 23px;
  height: 26px;
  background: url("/data/images/common/number_sprites.png") no-repeat 0px -58px;
}
#player .loading-box .loading-container ul li .loaindg-num01 {
  top: 11px;
  left: 18px;
  width: 10px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -65px -27px;
}
#player .loading-box .loading-container ul li .loaindg-num02 {
  top: 11px;
  left: 16px;
  width: 19px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -49px 0px;
}
#player .loading-box .loading-container ul li .loaindg-num03 {
  top: 10px;
  left: 14px;
  width: 20px;
  height: 28px;
  background: url("/data/images/common/number_sprites.png") no-repeat -45px -29px;
}
#player .loading-box .loading-container ul li .loaindg-num04 {
  top: 11px;
  left: 12px;
  width: 24px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat 0px -31px;
}
#player .loading-box .loading-container ul li .loaindg-num05 {
  top: 11px;
  left: 16px;
  width: 18px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -64px -57px;
}
#player .loading-box .loading-container ul li .loaindg-num06 {
  top: 11px;
  left: 13px;
  width: 21px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -24px -31px;
}
#player .loading-box .loading-container ul li .loaindg-num07 {
  top: 11px;
  left: 14px;
  width: 21px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -23px -58px;
}
#player .loading-box .loading-container ul li .loaindg-num08 {
  top: 10px;
  left: 14px;
  width: 20px;
  height: 29px;
  background: url("/data/images/common/number_sprites.png") no-repeat -29px 0px;
}
#player .loading-box .loading-container ul li .loaindg-num09 {
  top: 11px;
  left: 15px;
  width: 20px;
  height: 27px;
  background: url("/data/images/common/number_sprites.png") no-repeat -44px -58px;
}
#player .loading-box .loading-container ul li .loaindg-percent {
  top: 9px;
  left: 10px;
  width: 29px;
  height: 31px;
  background: url("/data/images/common/number_sprites.png") no-repeat 0px 0px;
}
#player .loading-box .loading-container ul li.progress3 {
  width: 29px;
  height: 31px;
  margin-left: 4px;
}
#player .float {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f0495f;
  opacity: .9;
}

#main {
  position: absolute;
  transform: scale(0.5);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#entry {
  position: relative;
}

#p6_start_button {
  display: none;
}

#p6_reset_button {
  display: none;
}

#form-box {
  position: fixed;
  bottom: 0;
}

.disable {
  pointer-events: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
  z-index: 999999;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.25);
}
#debug p {
  font-size: 9px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

#page3 .title {
  position: relative;
  margin-top: 108px;
  width: 100%;
  height: 108px;
  overflow: visible;
  z-index: 100;
}
#page3 .title .background {
  position: absolute;
  left: 0;
  top: 37px;
  width: 100%;
  height: 72px;
  position: relative;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  mask-image: url("/data/images/leader/message_pink_dot_mask.png");
  -webkit-mask-image: url("/data/images/leader/message_pink_dot_mask.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left top;
  -webkit-mask-position: center center;
  mask-size: 100% 72px;
  mask-image-size: 100% 72px;
  -webkit-mask-size: 100% 72px;
  line-height: 0px;
}
#page3 .title h2 {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -151.5px;
  background-image: url("/data/images/leader/message_title.png");
  background-repeat: no-repeat;
  background-size: 303px 107px;
  background-position: top center;
  width: 303px;
  height: 107px;
}
#page3 .title .cookie {
  z-index: 99;
  display: block;
  position: absolute;
}
#page3 .title .cookie-l {
  width: 50px;
  height: 47px;
  background-image: url("/data/images/leader/cookie_l2.png");
  background-size: 50px 47px;
  left: 50%;
  top: -5px;
  margin-left: -174px;
}
#page3 .title .cookie-r {
  width: 64px;
  height: 58px;
  background-image: url("/data/images/leader/cookie_r2.png");
  background-size: 64px 58px;
  right: 0;
  left: 50%;
  top: 37px;
  margin-left: 112px;
}
#page3 #message-form {
  display: block;
  position: relative;
  width: 100%;
  height: 676px;
  padding-left: 4%;
  padding-top: 12px;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
}
#page3 #message-form .message-item {
  text-align: center;
  background-color: #faecee;
  border-radius: 10px;
  width: 92%;
  height: 47px;
  margin-top: 19px;
}
#page3 #message-form .message-item label {
  float: left;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 2.8985507246%;
  width: 91.0144927536%;
  height: 47px;
  text-indent: -9999px;
  overflow: hidden;
  padding-left: 1.4492753623%;
}
#page3 #message-form .message-item input[type=radio],
#page3 #message-form .message-item input[type=radio] + label {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
@media (min-width: 1px) {
  #page3 #message-form .message-item input[type=radio] {
    display: none;
    margin: 0;
  }
  #page3 #message-form .message-item input[type=radio] + label {
    /*                    padding: 0 0 0 24px;*/
  }
  #page3 #message-form .message-item input[type=radio] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: #FFF;
  }
  #page3 #message-form .message-item input[type=radio] + label::before {
    border: 2px solid #fa8e9c;
    border-radius: 48px;
  }
  #page3 #message-form .message-item input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background: #f0495f;
    border-radius: 18px;
  }
  #page3 #message-form .message-item .message01 {
    background-image: url("/data/images/leader/message_txt01.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message02 {
    background-image: url("/data/images/leader/message_txt02.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message03 {
    background-image: url("/data/images/leader/message_txt03.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message04 {
    background-image: url("/data/images/leader/message_txt04.png");
    background-size: 200px 21px;
  }
  #page3 #message-form .message-item .message05 {
    background-image: url("/data/images/leader/message_txt05.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message06 {
    background-image: url("/data/images/leader/message_txt06.png");
    background-size: 204px 21px;
  }
  #page3 #message-form .message-item .message07 {
    background-image: url("/data/images/leader/message_txt07.png");
    background-size: 204px 21px;
  }
  #page3 #message-form .message-item .message08 {
    background-image: url("/data/images/leader/message_txt08.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message09 {
    background-image: url("/data/images/leader/message_txt09.png");
    background-size: 188px 21px;
  }
  #page3 #message-form .message-item .message10 {
    background-image: url("/data/images/leader/message_txt10.png");
    background-size: 188px 21px;
  }
}

#page4 {
  /*height: (1772px / 2);*/
}
#page4 .title-box {
  height: 205px;
  margin-top: 107px;
  overflow: visible;
}
#page4 .title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 259px;
  height: 92px;
  background-image: url("/data/images/leader/entry_complete_title.png");
  background-size: 259px 92px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page4 .text1 {
  display: block;
  position: relative;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  width: 259px;
  height: 92px;
  background-image: url("/data/images/leader/entry_complete_text1.png");
  background-size: 259px 92px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page4 .background-top {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  position: relative;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  mask-image: url("/data/images/leader/entry_complete_background_mask.png");
  -webkit-mask-image: url("/data/images/leader/entry_complete_background_mask.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left top;
  -webkit-mask-position: center center;
  mask-size: 100% 40px;
  mask-image-size: 100% 40px;
  -webkit-mask-size: 100% 40px;
  line-height: 0px;
}
#page4 .box {
  width: 100%;
  height: 404px;
  position: relative;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  overflow: visible;
}
#page4 .box .item {
  margin-left: auto;
  margin-right: auto;
  width: 259px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page4 .box .baloon1 {
  height: 78px;
  background-image: url("/data/images/leader/entry_complete_baloon1.png");
  background-size: 259px 78px;
}
#page4 .box .peaple {
  height: 92px;
  background-image: url("/data/images/leader/entry_complete_peaple.png");
  background-size: 259px 92px;
}
#page4 .box .text2 {
  margin-top: 21px;
  height: 16px;
  background-image: url("/data/images/leader/entry_complete_text2.png");
  background-size: 259px 16px;
}
#page4 .box .baloon2 {
  margin-top: 24px;
  height: 76px;
  background-image: url("/data/images/leader/entry_complete_baloon2.png");
  background-size: 259px 76px;
}
#page4 .box .animation {
  width: 259px;
  height: 111px;
  margin-top: -14px;
}
#page4 .btn-set {
  padding-left: 4%;
}
#page4 .btn-set .ok-btn {
  margin-left: 2.6666666667%;
  margin-top: 20px;
  width: 86.6666666667%;
}

#page5 .title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  height: 84px;
  margin-top: 60px;
  background-image: url("/data/images/leader/member_entry_title.png");
  background-size: 265px 84px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page5 #qrcode {
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
#page5 #qrcode table {
  table-layout: fixed;
  text-align: center;
}
#page5 #qrcode table td.black {
  background-color: #000;
}
#page5 #qrcode table td.white {
  background-color: #fff;
}
#page5 .number-box {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  width: 147px;
  height: 20px;
  overflow: visible;
  background-image: url("/data/images/leader/no_member_txt.png");
  background-size: 147px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page5 .number-box .number {
  display: block;
  z-index: 100;
  position: absolute;
  top: -24px;
  left: 42px;
  width: 62px;
  height: 62px;
  background-image: url("/data/images/leader/entry_number_2.png");
  background-size: 62px 62px;
  background-position: center center;
  background-repeat: no-repeat;
}
#page5 .btn-set {
  padding-left: 4%;
  background: none;
  margin-top: 24px;
}
#page5 .btn-set .ok-btn {
  margin-left: 2.6666666667%;
  margin-top: 20px;
  width: 86.6666666667%;
  background-image: url("/data/images/leader/entry_close_txt.png");
  background-size: 135px 17px;
}
#page5 .btn-set .disabled {
  background-image: url("/data/images/leader/entry_close_txt_disabled.png");
}
#page5 .float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 603px;
  background-image: url("/data/images/common/pink_dot_float_back.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  z-index: 101;
}
#page5 .float .cheer {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 287px;
  height: 52px;
  margin-top: -245px;
  margin-left: -144px;
  background-image: url("/data/images/leader/cheer_txt.png");
  background-size: 287px 52px;
  background-position: left top;
  background-repeat: no-repeat;
}
#page5 .float .img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 72%;
  margin-left: 14.1333333333%;
  margin-top: -158px;
  display: none;
  overflow: hidden;
  z-index: 100;
}
#page5 .float .img img {
  width: 98%;
  padding: 1%;
}
#page5 .float .img .border {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: solid 5px #e44e64;
  border-radius: 5px;
}

#page6 .title-box {
  position: relative;
  width: 235px;
  height: 126px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}
#page6 .title-box .text {
  position: absolute;
  left: 50%;
  top: 33px;
  width: 235px;
  height: 93px;
  margin-left: -118px;
  background-image: url("/data/images/leader/entry_over_txt.png");
  background-size: 235px 93px;
  background-position: left top;
  background-repeat: no-repeat;
}
#page6 .title-box .number {
  position: absolute;
  left: 50%;
  top: 0;
  width: 99px;
  height: 91px;
  margin-left: -50px;
  background-size: 99px 91px;
  background-position: left top;
  background-repeat: no-repeat;
}
#page6 .title-box .number2 {
  background-image: url("/data/images/leader/person2.png");
}
#page6 .title-box .number3 {
  background-image: url("/data/images/leader/person3.png");
}
#page6 .title-box .number4 {
  background-image: url("/data/images/leader/person4.png");
}
#page6 .title-box .number5 {
  background-image: url("/data/images/leader/person5.png");
}
#page6 .title-box .number6 {
  background-image: url("/data/images/leader/person6.png");
}
#page6 .title-box .number7 {
  background-image: url("/data/images/leader/person7.png");
}
#page6 .title-box .number8 {
  background-image: url("/data/images/leader/person8.png");
}
#page6 .wave {
  width: 100%;
  height: 36px;
  position: absolute;
  bottom: 343px;
  margin-top: 24px;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  mask-image: url("/data/images/leader/wave.png");
  -webkit-mask-image: url("/data/images/leader/wave.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left top;
  -webkit-mask-position: center center;
  mask-size: 100% 36px;
  mask-image-size: 100% 36px;
  -webkit-mask-size: 100% 36px;
  line-height: 0px;
}
#page6 .box {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 232px;
  position: absolute;
  bottom: 111px;
  background-image: url("/data/images/common/pink_dot.png");
  background-size: 8px 8px;
  background-position: left top;
  background-repeat: repeat;
  overflow: visible;
}
#page6 .box .box-inner {
  position: relative;
}
#page6 .box .box-inner .baloon {
  position: absolute;
  left: 50%;
  top: 0;
  width: 309px;
  height: 134px;
  margin-left: -155px;
  background-image: url("/data/images/leader/entry_over_caution.png");
  background-size: 309px 134px;
  background-position: left top;
  background-repeat: no-repeat;
}
#page6 .box .box-inner .smartphone {
  position: absolute;
  left: 50%;
  top: 122px;
  height: 106px;
  background-position: left top;
  background-repeat: no-repeat;
}
#page6 .box .box-inner .smartphone2 {
  width: 99px;
  margin-left: -49.5px;
  background-image: url("/data/images/leader/smartphone2.png");
  background-size: 99px 106px;
}
#page6 .box .box-inner .smartphone3 {
  width: 133px;
  margin-left: -66.5px;
  background-image: url("/data/images/leader/smartphone3.png");
  background-size: 133px 106px;
}
#page6 .box .box-inner .smartphone4 {
  width: 175px;
  margin-left: -87.5px;
  background-image: url("/data/images/leader/smartphone4.png");
  background-size: 175px 106px;
}
#page6 .box .box-inner .smartphone5 {
  width: 217px;
  margin-left: -108.5px;
  background-image: url("/data/images/leader/smartphone5.png");
  background-size: 217px 106px;
}
#page6 .box .box-inner .smartphone6 {
  width: 259px;
  margin-left: -129.5px;
  background-image: url("/data/images/leader/smartphone6.png");
  background-size: 259px 106px;
}
#page6 .box .box-inner .smartphone7 {
  width: 303px;
  margin-left: -151.5px;
  background-image: url("/data/images/leader/smartphone7.png");
  background-size: 303px 106px;
}
#page6 .box .box-inner .smartphone8 {
  width: 345px;
  margin-left: -172.5px;
  background-image: url("/data/images/leader/smartphone8.png");
  background-size: 345px 106px;
}
#page6 .btn-set {
  position: absolute;
  bottom: 0;
}
#page6 .cookie {
  position: absolute;
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
}
#page6 .cookie-l {
  left: 0;
  top: -10px;
  width: 104px;
  height: 107px;
  background-image: url("/data/images/leader/cookie_l3.png");
  background-size: 104px 107px;
}
#page6 .cookie-r {
  right: 0;
  top: 49px;
  width: 80px;
  height: 179px;
  background-image: url("/data/images/leader/cookie_r3.png");
  background-size: 80px 179px;
}

#page7 {
  overflow-y: hidden;
}
#page7 .item {
  text-indent: -9999px;
  position: absolute;
  left: 50%;
  background-position: left top;
  background-repeat: no-repeat;
}
#page7 .ready-txt {
  top: 22.71973466%;
  width: 195px;
  height: 20px;
  margin-left: -98px;
  background-image: url("/data/images/leader/ready_txt.png");
  background-size: 195px 20px;
}
#page7 .text {
  display: none;
  z-index: 101;
  top: 12%;
  width: 271px;
  height: 130px;
  margin-left: -136px;
  background-image: url("/data/images/leader/start_baloon.png");
  background-size: 271px 130px;
}
#page7 .heart {
  display: block;
  top: 34.1625207297%;
  width: 271px;
  height: 250px;
  margin-left: -136px;
  background-image: url("/data/images/leader/heart_big.png");
  background-size: 271px 250px;
  transform: scale(0.74, 0.74);
}
#page7 .heart .text-box {
  position: relative;
  width: 271px;
  height: 250px;
}
#page7 .heart .text-box .heart-text {
  position: absolute;
  left: 50%;
  top: 50%;
  background-position: center top;
  background-repeat: no-repeat;
}
#page7 .heart .text-box .start-txt {
  display: none;
  width: 191px;
  height: 62px;
  margin-left: -96px;
  margin-top: -31px;
  background-image: url("/data/images/leader/start.png");
  background-size: 191px 62px;
}
#page7 .heart .text-box .number-txt {
  width: 82px;
  height: 85px;
  margin-left: -42px;
  margin-top: -43px;
  background-image: url("/data/images/common/tap_number_1.png");
  background-size: 82px 85px;
}
#page7 .heart.press {
  background-image: url("/data/images/leader/heart_big_on.png");
}
#page7 .reset {
  position: absolute;
  z-index: 101;
  top: 84%;
  left: 15%;
  margin-bottom: 12.7694859038%;
  display: block;
  float: left;
  width: 70%;
  height: 45px;
  text-align: center;
  text-indent: -9999px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #9B8178;
  background-image: url("/data/images/leader/reset_btn_txt.png");
  background-size: 195px 17px;
}
#page7 .reset.press {
  background-color: #A18A83;
}
#page7 .cookie {
  display: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}
#page7 .cookie-lt {
  width: 67px;
  height: 117px;
  left: 0;
  top: 12px;
  background-image: url("/data/images/leader/cookie_lt.png");
  background-size: 67px 117px;
}
#page7 .cookie-lb {
  width: 141px;
  height: 192px;
  left: 0;
  bottom: -16px;
  background-image: url("/data/images/leader/cookie_lb.png");
  background-size: 141px 192px;
}
#page7 .cookie-rt {
  width: 151px;
  height: 113px;
  right: 0;
  top: -4px;
  background-image: url("/data/images/leader/cookie_rt.png");
  background-size: 151px 113px;
}
#page7 .cookie-rb {
  width: 53px;
  height: 97px;
  right: 0;
  bottom: 43px;
  background-image: url("/data/images/leader/cookie_rb.png");
  background-size: 53px 97px;
}

.float #player-menu-box {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 74.6666666667%;
  margin-left: 12.6666666667%;
  margin-top: -103px;
}
.float #player-menu-box .player-menu-btn {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
.float #player-menu-box .player-menu-btn a {
  text-indent: -9999px;
  width: 100%;
  height: 55px;
  display: block;
  text-align: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.float #player-menu-box .player-menu-btn a.green {
  background-color: #55ccdd;
}
.float #player-menu-box .player-menu-btn a.red {
  background-color: #fa8e9c;
}
.float #player-menu-box .player-menu-btn a.replay-btn {
  background-image: url("/data/images/leader/replay_btn_txt.png");
  background-size: 109px 23px;
}
.float #player-menu-box .player-menu-btn a.share-btn {
  background-image: url("/data/images/leader/share_btn_txt.png");
  background-size: 109px 23px;
}
.float #player-menu-box .player-menu-btn a.top-btn {
  background-image: url("/data/images/leader/gototop_btn_txt.png");
  background-size: 154px 23px;
}
.float #player-menu-box .player-menu-btn:nth-of-type(1) a.press {
  background-color: #69D2E1;
}
.float #player-menu-box .player-menu-btn:nth-of-type(2) a.press {
  background-color: #69D2E1;
}
.float #player-menu-box .player-menu-btn:nth-of-type(3) a.press {
  background-color: #FA99A6;
}
.float #player-menu-box .top {
  margin-top: 0;
}
