<style type="text/css">
	div#qr, div#content{
  margin: 0 auto;
  text-align: center;
	}

	div#content{
  margin-top: 30px;
	}
</style>
<div id="content">
	<h1>ユーザーAPI Test</h1>
	<%= render partial:  "user_page" %>
</div>
<script src="/js/ws_test.js"></script>
